name: Run Tests and Build Docker Image

on:
  push:
    branches:
      - main
      - docker
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    container: python:3.12.9.0-alpine  # Utilise une image Docker avec Python pour les tests

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          apk add --no-cache gcc musl-dev libffi-dev openssl-dev python3-dev make
          pip install --no-cache-dir -r requirements.txt

      - name: Run tests with coverage
        run: |
          pytest tests --cov=fizzbuzz --cov-report=xml --cov-report=term

  build-docker-image:
    runs-on: ubuntu-latest
    needs: test  # Cette étape ne s'exécute que si les tests passent ✅

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Build Docker Image
        run: |
          docker build -t fizzbuzz-app .

      - name: Save Docker Image as Artifact
        run: |
          docker save fizzbuzz-app > fizzbuzz-app.tar
        shell: bash

      - name: Upload Docker Image
        uses: actions/upload-artifact@v4
        with:
          name: docker-image
          path: fizzbuzz-app.tar
